:root {
  --primary: #B8FB3C;
  --dark: #000000;
  --light: #ffffff;
  --font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
 dark);
  color: var(--light);
}

/* Sidebar */
#sidebar {
  width: 250px;
  border-right: 1px solid #ddd;
}

.nav-link {
  color: #000;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 6px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary);
  border-radius: 3px;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary);
  font-weight: 600;
}

.nav-link:hover::after {
  width: 50%;
}

/* Main content offset */
.ms-lg-250 {
  margin-left: 250px;
}

/* Hero Section */
#home-section {
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  padding: 2rem;
}

.highlight {
  color: var(--primary);
  font-weight: 600;
}
